/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

@font-face {
    font-family: "Gilroy Bold";
    src:url('../fonts/Gilroy-Bold.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy Medium";
    src:url('../fonts/Gilroy-Medium.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
}
html , 
body{
	height: 100%;
	line-height: 1;
	scroll-behavior: smooth;

}

body{
	font-family: 'Gilroy Bold';
	font-size: 18px;
	line-height: 22px;
	color: #070707;
	counter-reset:#616161;
}

[class*="__container"]{
	max-width: 941px;
	margin: 0 auto;
	padding: 0px 15px;
}
/* 
	PC
	@media (max-width:1087px){
		[class*="__container"]{
			/* max-width: 970px; 
		}
	}

	 PC 
	@media (max-width:992px){
		[class*="header__container"]{
			max-width: 750px;
		}
	}

	 MOBILE 
	@media (max-width:767.98px){
		[class*="__container"]{
			max-width: none;
		}
	} 
*/
.wrapper{
	overflow: hidden;
	display: flex;
	min-height: 100%;
	flex-direction: column;
}

.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 88px;
	align-items: center;
}

.header__menu {
	flex: 1 1 auto;
}

@media (max-width:991.98px){
	.header__container{
		min-height:80px;

	}
}


.menu {
	display: flex;
}
.menu__list {
	display: flex;
	font-size: 18px;
	line-height: 22px;
	border-bottom:1px solid #828282;
	padding: 33px 0px 31px 0px;
}
.menu__item {
	text-align: center;
	margin: 0px 102px 0px 0px;
	display: inline-block;
	padding: 6px 12px 4px 10px;
}

.menu__item:last-child {
	margin: 0px ;
}
.menu__item::before {  
	transform: scaleX(0);
	transform-origin: bottom right;
}

.menu__item:hover::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.menu__item::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	inset: 0 0 0 0;
	background: #000;
	border: 2px #000 solid;
	z-index: -1;
	transition: transform .3s ease;
	
}

.menu__item {
	position: relative;
}


/* MOBILE */
@media (max-width:991.98px){
	.menu__item {
		/* padding: 0px 30px 0px 0px; */
	}

}

.menu__link {
	color: #000;
}

.menu__link:hover {
	color: #ffffff;
	transition: 0.4s;
}

.main{
	flex:  1 1 auto;
}

.name{
	margin: 128px 0px 0px 0px;
}

.name__text{
	text-align: center;
}


.name__container {
}
.name__content {
}
.name__block {

}
.name__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.name__title {
	font-size: 47px;
	line-height: 59px;
}
.name__text {
	padding: 20px 0px 0px 0px;
	font-family: 'Gilroy Medium';
	font-size: 18px;
	line-height: 22px;
}
.name__side {
	font-size: 16px;
	line-height: 20px;
	transform: rotate(-90deg);
}

.name__side span{
	color: #828282;

}

/* .img__squad{
	position: relative;
	width: 420px;
	height: 600px;
	border: 2px solid #000;
	overflow: hidden;
	margin: 0 auto;
}
.img__block{
	width: 720px;
	height: 1280px;
	position: absolute;
	right: -150px;
	top: -270px;
	background: url('../img/photo.jpg')0 0/720px 1280px no-repeat; */
/* } */


.name__slider {
	width: 100%;
	display: flex;
	margin: 15px 0px 0px 0px;
}

.slider__container{
	/* max-width: 1280px; */
	margin: 0 auto;
	padding: 0px 15px;
}

.slide {
	height:911px;
	border-radius: 20px;
	margin: 10px;
	cursor: pointer;
	color: #fff;
	flex: 1 1 auto;
	background: cover center no-repeat;
	position: relative;
	transition: all 500ms ease-in-out;
	filter: grayscale(); 
	opacity:.8;
	transform: scale(.95);
	box-shadow:none;
}

.slide.active{
	flex:9;
	filter: none;
	transform:scale(1);
	filter:blur(0px);
	opacity:1;
	box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}

.slide-1 {
	background: url('../img/photo\ \(1\).jpg') 0 0/cover no-repeat;
}

.slide-2 {
	background: url('../img/photo\ \(2\).jpg')0 0/cover no-repeat;
}

.slide-3 {
	background: url('../img/photo\ \(3\).jpg') 0 0/cover no-repeat;
}

.slide-4 {
	background: url('../img/photo.jpg') 0 0/cover no-repeat;
}

.slide-5 {
	background: url('../img/photo\ \(4\).jpg') 0 0/cover no-repeat;
}

.slide-6 {
	background: url('../img/photo\ \(5\).jpg') 0 0/cover no-repeat;
}
*, *:after, *:before {
	box-sizing: border-box;
}

/* ====================================ABOUT=========================== */


.about {
	margin: 104px 0px 0px 0px;
	background: #F6F6F6;
}
.about__container {
}
.about__content {
	position: relative;
}
.about__block {
	position: relative;
	padding: 2rem;
	box-shadow: inset 0 0 0 3px #000, inset 3px -4px 0 4px #CCC;
	background-color: #FFF;
	cursor: pointer; 
}

.about__block:before {
	position: absolute; 
	left: 0;
	bottom: 0;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: #000;
	transform-origin: 0 bottom 0;
	transform: scaleY(0);
	transition: .4s ease-out;

}

.about__block:hover .about__title  {
	color: #FFF;
}

.about__block:hover .about__text  {
	color: #FFF;
}
.about__block:hover:before {
	transform: scaleY(1);
}
.title{
	font-size: 34px;
	line-height: 42px;
	text-align: center;
}

.about__title {
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	padding: 0px;
	position: relative;
	transition: .4s ease-out;
	padding: 0px 0px 20px 0px;
}

.about__text {
	position: relative;
	text-align: center;
	transition: .4s ease-out;
	padding: 0px 0px 20px 0px;

}
.about__description {
	font-family: 'Gilroy Medium';
}

.about__subtext {
	padding: 40px 0px 0px 0px;
}

.about__subtext:first-child{
	padding: 0;
}

/* ====================================SKILL=========================== */

/* .third{
	margin: -10px 0px 0px 0px;
} */

.skill {
	padding: 91px 0px 100px 0px;
}
.skill__container {
}
.sckill__content {
}
.skill__title {
	padding: 0px 0px 83px 0px;

}
.title {
}
.star__row {
	display: flex;
}
.star__column {
	display: flex;
	flex-direction: column;
	flex: 0 1 25%;
	justify-content: center;
	align-items: center;
}
.star__image {
}

.star__text{
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #828282;
	padding: 24px 0px 0px 0px;
}

.star__place {
}
.star__shape img {
	margin: 0px 9px 0px 0px;
}
.star__shape{
	margin: 40px 0px 0px 0px;
}

.correct{
	margin: 45px 0px 0px 0px;

}

.correct-second{
	margin: 51px 0px 0px 0px;

}

/* =========================ПОРТФОЛИО==================== */
.portfolio {
	background: #F6F6F6;
}
.portfolio__container {
}

.portfolio__content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.portfolio__title {
	margin: 113px 0px 47px 0px;
}

.portfolio__subtitle{
	font-family: 'Gilroy Medium';
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	margin: 45px 0px 99px 0px;
	position: relative;
}

.portfolio__subtitle::after{
	position: absolute;
	content: "";
	width: 0%;
	height: 4px;
	background-color: rgb(0, 0, 0);
	left: 50%;
	bottom: -10px;
	transition: all 0.4s ease-in-out;
	
}

.portfolio__column:hover .portfolio__subtitle::after {
	width: 100%;
	left: 0;
}



.title {
}
.portfolio__column {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.video {
}
.video__item {
	/* min-height: 510px; */
	max-width: 936px;
}
.contacts {
}
.contacts__container {
}
.contact__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.contacts__title {
}
.title {
	padding: 0px 0px 30px 0px;
}
.contacts__text {
	font-family: 'Gilroy Medium';
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	
}
.contacts__button {
	display: flex;
	justify-content: center;
	margin: 30px 0px 85px 0px;
}
.button{
	position: relative;
	font-family: 'Gilroy Bold';
	font-size: 18px;
	line-height: 22px;
	border-radius:35px ;
	background: #000;
	color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 180px;
	height: 42px;
	overflow: hidden;
	transition: 0.8s;
}
.contacts__image__row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contacts__image {
	width: 50px;
	margin: 0px 61px 0px 0px;
}

.contacts__image:last-child {
	margin: 0px 0px 0px 0px;
}

/* ============================__Footer__=================================== */

.footer {
	padding: 114px 0px 100px 0px;
}
.footer__container {
}
.footer__items {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 50px;
	row-gap: 20px;
}
.footer__item {
}

@media (max-width: 500px){
	.footer{
		padding: 30px 0px;
	}	
	.footer__items{
		flex-direction: column;
	}
}

.contacts__copyright{
	padding: 45px 0px 0px 0px;
	font-family: 'Gilroy Medium';
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #828282;
}

.image__hover:hover{
	fill: aqua;
}

.contacts__image{
    filter: drop-shadow(3px 3px 5px #696969);
}
.contacts__image:active{
	position: relative;
	top: 3px;
	transition: .5s;
}
.contacts__image:hover{
	cursor: pointer;
	transition: .5s;
}

.TG:hover{
	fill: #0088cc;
}

.VK:hover{
	fill: #597da3;
}

.Inst:hover{
	fill: #e4405f;
}

.contacts__button {
    filter: drop-shadow(3px 3px 5px #696969);
	
}

.button:hover {
	position: relative;
	background: none;
	transition: 1s;
	color: #000;
}
 
.button:active{
	position: relative;
	top: 3px;
	transition: .5s;
}

.button::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 0%;
	background: #000;
	z-index: -1;
	transition: 1s;
} 

.button::before{
	top: 0;
	border-radius: 0 0 50% 50%;
}
.button::before{
	height: 180%;	
}
.button:hover::before{
	height: 0%;
}
